
$CONTAINER_HEIGHT: 380px;

.container{
    min-height: $CONTAINER_HEIGHT;
    max-height: $CONTAINER_HEIGHT;
    overflow-y: scroll;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;

}
.container::-webkit-scrollbar-thumb{
    background-color:  #cbcbcb;    /* color of the scroll thumb */
    border-radius: 11px;    /* roundness of the scroll thumb */
    // border: 3px solid orange;  /* creates padding around scroll thumb */
}

.container::-webkit-scrollbar-track{
    background: transparent;    
}

.container::-webkit-scrollbar{
    width: 10px;  
}

.content{
    padding-top: 8px;
    width: 97%;
}

.scrollbar_thunk{
    width: 3%;
    background-color: grey;
}